<a href="/">Back to Home</a>
<div class="row">
    <div class="input-field col s4 m6" style="width: 19.333333%; margin-left: 43px;">
        <h2>Category: {{article.category}}</h2>
        <div class="row">
            <div class="input-field col s5" style="clear:both">
                <h3><b>Article Name: {{article.articleName}}</b></h3>
                <p>
                    <small>Content: {{article.content}}</small>
                </p>

            </div>
        </div>
    </div>
</div>